.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-title {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-nav button {
  font-family: "Poppins";
  font-size: large;
  font-weight: bold;
  margin-left: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

.header-nav button:hover {
  background-color: #e0e0e0;
}

.header-nav button.active {
  background-color: blue;
  color: white;
}

.banner {
  position: relative;
  background-image: url('./assets/images/artificial-intelligence.webp');
  background-size: cover;
  background-position: center;
  height: 465px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  position: absolute;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  background: rgba(57, 63, 229, 63%); 
  border-radius: 10px;
}

#about {
  text-align: center;
  padding: 25px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 46px;
}

.apropos-description {
  text-decoration: none;
  text-align: justify; 
  font-family: 'Poppins';
  font-size: 1.1rem;
  margin-bottom: 1.5em;;
  line-height: 1.6; 
  margin: 20px 0;
  color: #333;
}

.apropos-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid blue; 
  border-radius: 15px; 
  box-shadow: 1px 1px 25px 0 #b8b5ff; 
  text-align: center; 
  background-color: white; 
}

.apropos-title {
  font-size: 2rem;
  font-weight: bold; 
}

.profile-image {
  width: 150px; 
  height: auto; 
  border-radius: 50%; 
  margin: 20px 0; 
}

.apropos-description {
  font-size: 1.2rem;
  margin: 20px 0; 
}

.cv-button {
  display: inline-block; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue; 
  color: white; 
  text-decoration: none; 
  font-size: 1rem;
  transition: background-color 0.3s; 
}

.cv-button:hover {
  background-color: darkblue; 
}

.scroll-to-top {
  position: fixed; 
  bottom: 80px; 
  right: 30px; 
  background-color: blue; 
  color: white; 
  border: none; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  font-size: 20px; 
  cursor: pointer; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s; 
}
.scroll-to-top i {
  font-size: 20px; 
  color: white; 
}



.scroll-to-top:hover {
  background-color: darkblue; 
}

#tech {
  text-align: center;
  padding: 25px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 46px;
}

.tech-container {
  padding: 20px;
  font-family: 'Poppins';
  box-shadow: 1px 1px 25px 0 #b8b5ff; 
  border-radius: 25px;
}

.tech-intro {
  text-align: left;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: normal;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tech-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}


.tech-icons-front {
  display: flex;
  justify-content: center;
}

.tech-icons-front img {
  width: 12%;
}

.tech-icons-back {
  display: flex;
  justify-content: center;
}

.tech-icons-back img {
  width: 15%;
}

.tech-icons-versioning {
  display: flex;
  justify-content: center;
}

.tech-icons-versioning img {
  width: 20%;
}

.tech-icons-outils {
  display: flex;
  justify-content: center;
}

.tech-icons-outils img {
  width: 20%;
}

.tech-icons-ide {
  display: flex;
  justify-content: center;
}

.tech-icons-ide img {
  width: 30%;
}

.tech-icons-autres {
  display: flex;
  justify-content: center;
}

.tech-icons-autres img {
  width: 15%;
}

#projects {
  text-align: center;
  padding: 25px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 46px;
}

.projets-container {
  text-align: left;
  padding: 20px;
}

.projets-grid {
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 25px 0 #b8b5ff; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  padding: 20px;
}

.projet {
  position: relative;
  overflow: hidden;
  border-radius: 10px; 
  width: 100%;
  height: 320px;
  margin: 0 auto;
}

.projet-image {
  width: 100%; 
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.projet:hover .overlay {
  opacity: 1; 
}

.description {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.description h3 {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.description p {
  margin-top: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px; 
}

.button {
  background-color: black; 
  color: white; 
  padding: 10px 15px; 
  border: none;
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkgray; 
}

@media (max-width: 768px) {
  .projets-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .projets-grid {
    grid-template-columns: 1fr; 
  }
}

#contact{
  text-align: center;
  padding: 25px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 46px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  box-shadow: 1px 1px 25px 0 #b8b5ff;
  border-radius: 25px;
  background-color: blue;
  color: white;
  max-width: 85%;
  margin: 0 auto;
}

.contact-info {
  flex: 1;
  padding: 20px;
  color: white;
}

.contact-info h2 {
  color: aqua;
  font-family: 'Cookie', cursive;
  font-weight: bold;
}

.contact-detail {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: aqua;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #72bbf2;
  border-radius: 15px;
}

.contact-form label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input, .form-group textarea {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.send-button {
  background-color: darkblue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: darkgray;
}

